{% extends "layout_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Completed claims</h1>
      </div>



      <div class="column-two-thirds">
        <table>
          <thead>
            <tr>
              <th scope="col">Claim Date</th>
              <th scope="col">NI number</th>
              <th scope="col">Surname</th>
              <th scope="col">Invite Key</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>28 Apr 2016, 15:07:38</td>
              <td>AA231419D</td>
              <td>Wood</td>
              <td>WOOD454HN4</td>
            </tr>
            <tr>
              <td>04 May 2016, 15:06:17</td>
              <td>AB062548C</td>
              <td>Dawson</td>
              <td>DAWS632AB7</td>
            </tr>
          </tbody>
        </table>
      </div>






  </div>
{% endblock %}
