{% extends "layout_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add customer</h1>
      </div>



      <div class="column-one-half">

        <!-- Use .form-group to create spacing when wrapping label and input pairs -->
        <div class="form-group">
          <label class="form-label-bold" for="title">Title</label>
          <input class="small-input form-control" id="title" name="title" type="text" >
        </div>
        <div class="form-group">
          <label class="form-label-bold" for="first-name-2">First name</label>
          <input class="form-control" id="first-name-2" name="first-name-2" type="text">
        </div>
        <div class="form-group">
          <label class="form-label-bold" for="last-name-2">Last name</label>
          <input class="form-control" id="last-name-2" name="last-name-2" type="text">
        </div>

        <label class="form-label-bold" for="ni-number">
          National Insurance number
        </label>
        <input class="form-control" id="ni-number" type="text">

        <br/><br/>

        <div class="form-group">
  			  <fieldset>
  			    <legend class="form-label-bold">Date of birth</legend>
  			       <div class="form-date">
  			        <fieldset>
  								<div class="form-group form-group-day">
  									<label for="dob-day">Day</label>
  								  <input class="form-control" name="dob-day" id="dob-day" type="text" maxlength="2">
  								</div>

  								<div class="form-group form-group-month">
  									<label for="dob-month">Month</label>
  								  <input class="form-control" name="dob-month" id="dob-month" type="text" maxlength="2">
  								</div>

  								<div class="form-group form-group-year">
  								  <label for="dob-year">Year</label>
  									<input class="form-control" name="dob-year" id="dob-year" type="text" maxlength="4">
  							  </div>
  						  </fieldset>
  					  </div>
  			    </fieldset>
  				</div>

          <h1 class="heading-small">
            Gender
          </h1>

          <form>
            <fieldset class="inline">

              <legend class="visuallyhidden">Gender of Customer</legend>

              <label class="block-label" for="male">
                <input id="male" type="radio" name="gender" value="Male">
                Male
              </label>
              <label class="block-label" for="female">
                <input id="female" type="radio" name="gender" value="Female">
                Female
              </label>

            </fieldset>
          </form>

          <br/>
          <div class="form-group">
            <label class="form-label-bold" for="pension-age">State Pension age</label>
            <input class="inactive form-control" id="pension-age" name="pension-age" type="text">
          </div>
        </div>

        <div class="column-one-half" style="display: block;">
          <h1 class="heading-small">
            Address
          </h1>

          <form>
            <div class="form-group">
              <fieldset class="inline">

                <legend class="visuallyhidden">Customer address fields</legend>

                <label class="block-label" data-target="uk-address" for="uk-address-details">
                  <input id="uk-address-details" type="radio" name="radio-inline-group" checked="checked" value="uk">
                  UK
                </label>

                <label class="block-label" data-target="overseas-address" for="overseas-address-details">
                  <input id="overseas-address-details" type="radio" name="radio-inline-group" value="overseas">
                  Australia
                </label>

                <div class="panel panel-border-narrow" id="uk-address">
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-1">Building number</label>
                    <input class="form-control" id="address-line-1" name="address-line-1" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-2">Street name</label>
                    <input class="form-control" id="address-line-2" name="address-line-2" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-3">Town</label>
                    <input class="form-control" id="address-line-3" name="address-line-3" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-4">County</label>
                    <input class="form-control" id="address-line-4" name="address-line-4" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="postcode">Postcode</label>
                    <input class="small-input form-control" id="postcode" name="postcode" type="text">
                  </div>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="overseas-address">
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-1">Street Address / PO Box</label>
                    <input class="form-control" id="address-line-1" name="address-line-1" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-2">Locality</label>
                    <input class="form-control" id="address-line-2" name="address-line-2" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-3">State or Territory</label>
                    <input class="form-control" id="address-line-3" name="address-line-3" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="postcode">Postcode</label>
                    <input class="small-input form-control" id="postcode" name="postcode" type="text">
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="country">Country</label>
                    <input class="inactive form-control" value="Australia" id="country" name="country" type="text">
                  </div>
                </div>


              </fieldset>
            </div>
          </form>

          <div class="form-group">
            <label class="form-label-bold" for="invite-code">Invite code</label>
            <input class="inactive form-control" id="invite-code" name="invite-code" type="text">
          </div>

          <a class="button" href="index-alt">Add customer</a>






        </div>






  </div>

{% endblock %}
